<nav class="navbar navbar-expand-lg bg-body-tertiary navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img
        src="https://portal.labwifi360.tigo.com/csr-ui/assets/images/new/logo.svg"
        alt=""
    /></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex" role="search">
        <div class="input-group">
          <input
            class="form-control me-2"
            type="search"
            style="width: 350px;"
            placeholder="Type Your Search. Minimum 3 characters"
            aria-label="Search"
          />
          <button class="btn btn-outline-info" type="submit">
            <img src="https://portal.labwifi360.tigo.com/csr-ui/assets/images/new/input-suffix.svg" alt="">
          </button>
        </div>
      </form>      
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            ><img
              src="https://portal.labwifi360.tigo.com/csr-ui/assets/images/new/settings.svg"
              alt=""
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><img
              src="https://portal.labwifi360.tigo.com/csr-ui/assets/images/new/manage-accounts-icon.svg"
              alt=""
          /></a>
        </li>
        <li>
          <div class="dropdown">
            <a
              class="btn dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://portal.labwifi360.tigo.com/csr-ui/assets/images/new/bandera-En.svg"
                alt=""
              />
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#"
                  ><img
                    src="https://portal.labwifi360.tigo.com/csr-ui/assets/images/new/bandera-Es.svg"
                    alt=""
                /></a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <a
              class="btn dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://portal.labwifi360.tigo.com/csr-ui/assets/images/new/tenant-icon.svg"
                alt=""
              />TIGOCR
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">TIGOCO</a></li>
              <li><a class="dropdown-item" href="#">TIGOCR</a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <a
              class="btn dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              ><img
                src="https://portal.labwifi360.tigo.com/csr-ui/assets/images/new/account_circle.svg"
                alt=""
              />
              CSR - Tigo
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Cerrar cesion</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet />
